---
import { FilmIcon } from 'lucide-react';
import { Image } from 'astro:assets';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Callout from '@/components/Callout.astro';
import ProfileAvatar from '@/assets/images/profile.jpg';

const modules = (await Astro.glob('../content/modules/*.json')).sort((a, b) => a.order - b.order) ;
---
<BaseLayout>
  <section>
    <Container class="py-12 pb-4">
      <div class="flex flex-col gap-2.5">
        <h1 class="text-5xl leading-[3.5rem] font-bold">Curso gratuito de bases de datos con PostgreSQL </h1>
        <p class="text-lg font-medium">Un curso en vivo (ahora con grabaciones) diseñado para aquellas personas que buscan aprender bases de datos completamente desde cero o que buscan reforzar algunos conceptos.</p>
        <Callout>
          <p class="font-medium">Cada uno de videos se encuentra en formato de grabación, por lo que no contienen ningún tipo de edición y se encuentran tal cual fueron transmitidos en vivo.</p>
        </Callout>
      </div>
    </Container>
  </section>
  <section>
    <Container class="py-10 pb-20 flex flex-col gap-12">
      <h2 class="text-3xl font-bold">Contenido del curso</h2>
      <div class="flex flex-col gap-8">
        {modules.map((module) => (
          <div class="flex flex-col gap-3">
            <h3 class="font-bold text-xl">{module.title}</h3>
            <div class="flex items-center gap-4">
              {module.videos.map((video: any) => (
                <a href={video.url} rel="noreferrer" class="flex items-center gap-1 font-semibold">
                  <FilmIcon size={20} />
                  <span>{video.title} ({video.duration})</span>
                </a>
              ))}
            </div>
          </div>
        ))}
      </div>
    </Container>
  </section>
  <section class="border-y border-gray-200">
    <Container class="py-16 flex flex-col gap-3">
      <h2 id="donation" class="text-3xl font-bold">💖 Apoya mi trabajo</h2>
      <p>
        Si te ha gustado el contenido considera apoyarme con una donación, o también, puedes optar por compartir conmigo tu feedback para ayudarme a seguir mejorando y crear contenido de mayor calidad. Puedes enviarme tu retroalimentación a <a href="mailto:db@coderdiaz.com" class="font-semibold underline-offset-2">db@coderdiaz.com</a>.
      </p>
      <ul class="flex flex-col gap-3 mt-2">
        <li>
          <a class="font-semibold text-lg" href="https://donate.stripe.com/14k00H6Vm3Ai6M8cMU">
            <span>☕ Regalame un café</span>
          </a>
        </li>
        <li>
          <a class="font-semibold text-lg" href="https://donate.stripe.com/5kAaFl2F68UC3zWdQZ">
            <span>🌮 Invítame un buen taco</span>
          </a>
        </li>
        <li>
          <a class="font-semibold text-lg" href="https://donate.stripe.com/dR64gXenOgn44E0cMW">
            <span>🍕 Invítame una pizza</span>
          </a>
        </li>
      </ul>
    </Container>
  </section>
  <section>
    <Container class="md:px-0">
      <div class="py-16 flex flex-col-reverse md:flex-row gap-12  md:gap-4 items-center">
        <div class="flex flex-col gap-4 md:w-[60rem] md:px-10 flex-grow">
          <h3 class="text-2xl font-bold">Hola!, Soy Javier Diaz</h3>
          <div class="relative flex flex-col gap-1.5 font-medium text-tones-900">
            <p>
              Un freelancer mexicano que trabaja con varias startups, empresas, agencias y particulares para construir productos y servicios para la web.
            </p>
            <p>
              Me gusta colaborar con personas y equipos para crear experiencias y productos fantásticos que sean fáciles de usar.
            </p>
            <p>
              En mi tiempo libre, usualmente podrás encontrarme leyendo, viendo películas, jugando videojuegos o aprendiendo algo nuevo.
            </p>
            <span class="absolute left-0 -ml-10 mt-4 top-0 mb-0 hidden font-mono text-[12rem] text-tones-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-4">
            <a href="https://twitter.com/coderdiaz" rel="noreferrer" class="mt-2 px-6 py-2.5 text-center md:text-left md:w-max rounded-full bg-black text-white font-semibold transition hover:scale-105">
              Sígueme en X
            </a>
            <a href="https://coderdiaz.com" rel="noreferrer" class="mt-2 px-6 py-2.5 text-center md:text-left md:w-max rounded-full text-black ring-4 ring-amber-100/50 bg-amber-400 font-semibold transition hover:bg-accent-100 hover:ring-amber-100 border border-amber-400">
              Visita mi sitio web
            </a>
          </div>
        </div>
        <div class="w-[16rem] md:w-[28rem] h-80 overflow-hidden shadow-xl bg-white p-3 pb-9 rotate-[4deg] border border-gray-100">
          <Image class="h-full w-full object-cover object-top pointer-events-none select-none" src={ProfileAvatar} alt="Avatar of Javier Diaz" />
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>
